<!DOCTYPE html>
<html>
<head>
    <title>Меню</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="header">
        <h1>Система порта</h1>
        <div>Пользователь: {{ session.user_id }} | Роль: {{ session.user_group }} | <a href="{{ url_for('menu_exit') }}">Выйти</a></div>
    </div>

    <div class="content">
        <h2>Главное меню</h2>
        <div class="menu">

            {% if is_admin() %}
            <a href="{{ url_for('blueprint_query.query_index') }}" class="menu-item">
                <h3>Запросы к БД</h3>
                <p>Выполнение SQL запросов к базе данных порта</p>
            </a>
            {% endif %}


            <a href="{{ url_for('bp_report.report_menu_handle') }}" class="menu-item">
                <h3>Система отчетов</h3>
                <p>Генерация и просмотр аналитических отчетов</p>
            </a>

            {% if is_manager() %}
            <a href="{{ url_for('bp_registration.registration_index') }}" class="menu-item">
                <h3>Регистрация кораблей</h3>
                <p>Добавление новых кораблей с назначением бригад</p>
            </a>

            <a href="{{ url_for('bp_registration.active_ships') }}" class="menu-item">
                <h3>Активные разгрузки</h3>
                <p>Управление текущими разгрузками и освобождение бригад</p>
            </a>
            {% endif %}

        </div>
    </div>
</body>
</html>